html {
  background-color: white;
  color: black;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  display: grid;
  /* border: 1px solid blue; */
  grid-template: [nav-start] 6em [nav-end content-start] 1fr [content-end footer-start] auto [footer-end]/0.2fr 0.75fr 1fr 0.2fr;
  grid-template-areas:
    "header header header header"
    ". content content .";
  grid-gap: 2em;
}

.container>nav {
  grid-area: header;
  /* border: 1px solid blue; */
}

@media all and (max-width:800px) {
  .container {
    grid-template: [nav-start] 6em [nav-end content-start] 1fr [content-end]/0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:
      'header header header header'
      '. content content .';
  }

}

@media all and (max-width:600px) {
  .container {
    grid-template: [nav-start] 6em [nav-end ] 0.5fr [ content-start] 1fr [content-end]/0.1fr 1fr 0.1fr;
    grid-template-areas:
      'header header header'
      '. content .';
  }

}