
.contentGrid {
  /* border: 1px solid blue; */
  display: grid;
  grid-area: content;
  grid-template: minmax(4em, 0.15fr) minmax(14em, 1fr) /1fr 1fr;
  grid-gap:0.5em;
  grid-template-areas:
  "title title"
  "innerContent innerContent";
  padding: 0;
  margin: 0;
}

.contentGrid .contentHeader {
  /* border: 1px solid green; */
  grid-area: title;
  padding-left:1em;
}

.contentGrid .contentData {
  /* border: 1px solid green; */
  grid-area: innerContent;
  display: grid;
  grid-template: 1fr 1fr/1fr 1fr;

}



/* .box {
  border: 0.1em solid black;

} */

/* .box>span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.box:hover>span {
  visibility: visible;
  opacity: 1;
} */
/* .box:hover>h3{
  display: none;
} */

@media all and (max-width:800px) {

  .contentGrid {
    grid-template: 0.1fr 1fr/1fr 1fr;
    grid-template-areas:
    "title title"
    "innerContent innerContent";
  }
}

@media all and (max-width:600px) {

  .contentGrid .contentData {
    grid-template: 1fr 1fr 1fr 1fr/1fr;
  
  }
}
/* .box {
  border: 0.1em solid black;

} */

/* .box>span {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.box:hover>span {
  visibility: visible;
  opacity: 1;
} */
/* .box:hover>h3{
  display: none;
} */

@media all and (max-width:800px) {
  .container {
    grid-template: [nav-start] 6em [nav-end content-start] 1fr [content-end]/0.1fr 1fr 1fr 0.1fr;
    grid-template-areas:
      'header header header header'
      '. profileImage content .'
  }

  .contentGrid {
    grid-template: 1fr 1fr 1fr 1fr/1fr;
  }
}

@media all and (max-width:600px) {
  .container {
    grid-template: [nav-start] 6em [nav-end profile-image-start] 0.5fr [profile-image-end content-start] 1fr [content-end]/0.1fr 1fr 0.1fr;
    grid-template-areas:
      'header header header'
      '. content .';
  }

  .contentGrid {
    grid-template: 1fr 1fr 1fr 1fr/1fr;
  }
}