/* .box {
  display: block;
  top: 0px;
  position: relative;
  max-width: 16em;
  background-color: #444;
  border: 0.1em solid #000;
  color: white;
  border-radius: 0.25em;
  padding: 2em 1.5em;
  margin: 0.75em;
  text-decoration: none;
  overflow: scroll;
  text-align: left;
} */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  border: 0.1em solid #cccccc;
  color: black;
  border-radius: 0.25em;
  padding: 2em 1.5em;
  margin: 0.75em;
  text-decoration: none;
  text-align: left;
}

.box:hover {
  border: 1px solid #CD3D73;
}

.box h3 {
  margin-top: 8px;
}

.box .learnMore {
  padding-top: 1em;
}

.box:hover .learnMore {
  color: #CD3D73;
  font-style: italic;
}

.box:hover h3 {
  color: #CD3D73;
  font-style: italic;
}

.invisible {
  visibility: hidden;
}

.disabled {
  color: black;
  background: rgba(190, 190, 190, 0.541);
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.box .disabled:hover {
  background: grey;
}