.Nav {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  padding:0;
  margin:0;
  background-color: #aaa;
  height: 5em;
}

.Nav .title {
  flex: 0.5;
  /* white-space: pre-wrap; */
  font-size: 1.2em;
  text-align: left;
  padding-left: 1em;
}

.Nav .title :active {
  font-weight: bolder;
}

.Nav > li {
  flex: 0.1;
  text-align: center;
  /* padding-top: 1em; */
}

/* .Nav > li > a{
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
.Nav > li > a{
  text-decoration: none;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Nav > li > a:hover {
  font-weight: bolder;
}

.active {
  color: #CD3D73 !important;
  font-weight: bolder;
}
.Nav >li:last-child {
  padding-right: 1em;
}

@media all and (max-width: 1000px) {
  .Nav >li {
    padding-top:1em;
  }
  .Nav .title {
    text-align: left;
    padding-left:1em;
  }
}
@media all and (max-width: 600px) {
  .Nav {
    flex-wrap: wrap
  }
/* 
  .Nav > li {
    flex-basis: 55%;
    display:block;
  } */

  /* .Nav >li:last-child {
    padding-right: 0;
  } */

  .Nav >li {
    padding-top:1em;
  }
  .Nav .title {
    text-align: left;
    padding-left:1em;
  }
}

@media all and (max-width:500px) {

  .Nav {
    height: 14em;
  }
  
  .Nav .title {
    flex:1;
    text-align: center;
  }
  .Nav > li {
    flex-basis: 100%;
    text-align: left;
    padding:0.5em 0.5em 0.5em 1em;
    text-align: center;
  }
  .Nav >li:not(:first-child):hover {
    background:grey;
  }
  .Nav >li a {
    display: block;
  }

}
